section.effect
  .flex-wrap.flex-center
    .col-50.codepen
      <p data-height="500" data-theme-id="0" data-slug-hash="qaKPPB" data-default-tab="css,result" data-user="quanhm94" data-embed-version="2" class="codepen">See the Pen <a href="https://codepen.io/quanhm94/pen/qaKPPB/">CSS3 Loading Animation</a> by Minh Quan Hoang (<a href="http://codepen.io/quanhm94">@quanhm94</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    .col-50.flex.flex-center
      .col-1
        .desc-wrapper
          h3.home-lead.outdented ...Want something like that for your sites, or...
          a(href="").home-cta Even more
