section.music
  .flex-wrap.flex-space-around
    .col-1
      .illu-strip
      .flex-video <iframe src="https://www.youtube.com/embed/N7Mvn2EEOD8" frameborder="0" allowfullscreen></iframe>
        
    .col-1.order-first
      h3.home-lead.outdented ...Music is the only thing that keeps me alive
      a(href="").home-cta Jam along
